<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <!-- UI Kit -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

    {% block headscripts %}
    {% endblock %}
</head>
<body>

<header>
    <nav class="uk-container uk-navbar" uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/">Evidencia zamestnancov</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li>Prihlásený ako: {{ app.user.username }}</li>
                                <hr>
                                <li>
                                    <a href="{{ path('accounts', { employee: app.user.id }) }}">Moje účty</a>
                                </li>
                                <hr>
                            {% endif %}
                            <li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('logout') }}">Odhlásiť sa</a>
                                {% else %}
                                    <a href="{{ path('login') }}">Prihlásiť sa</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block content %}
{% endblock %}

{# Read and display flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            UIkit.notification({message: '{{ message }}', status: 'success'})
        </script>
    {% endfor %}
{% endfor %}

</body>
</html>